# Dossiers et fichiers à exclure

/.env.local
/.env.local.php
/public/bundles/
/var/
/vendor/
/node_modules/
/.phpunit.result.cache
/.php_cs.cache
/.phpstorm.meta.php
/.idea/
/.vscode/
/.DS_Store

# Fichiers de configuration Symfony générés

/.env
/.env.test
/.phpunit
/var/cache/
/var/log/
/var/sessions/
/vendor/
/.php_cs

# Fichiers et dossiers spécifiques à certains environnements

/.env.prod.local
/.env.test.local

# Dossiers et fichiers de sauvegarde

*.swp
*.bak
*.~
